extends layout

block content
  h1= title
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each o, index in items
        div(class="card text-white bg-dark mb-3" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') #{o}
        
        

  
